


body{
	position: relative;
	text-align: center;
	font-family: 'Arvo', serif;
	margin:15px;
	padding:0;
}
.grille{
	position: absolute;
	width: 139px;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(30, 1fr) ;
	grid-template-rows: repeat(30, 1fr) ;
	top:0;
	left:50%;
	transform: translateX(-50%);


}
.corps{
	position:relative;
}

.rond {
	width: 33px;
	height: 33px;
	opacity: 70%;
	overflow: visible;
	border-radius: 50px;
	background-color: #000000;
	position: relative;
	display: block;
}
.red {
	background-color: red;

}
.rond > p{
	padding-left:150px;
	width: 139 px;
	opacity: 0;
	display: block;
	position: fixed;
	pointer-events: none;
	top:0;
	left: 0;
}
.rond1 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 8;
	grid-row-end: 9;
		width: 30px;
	height: 30px;
}
.rond2 {
		width: 30px;
	height: 30px;
	grid-column-start: 31;
	grid-column-end: 32;
	grid-row-start: 13;
		grid-row-end: 14;
}
.rond3 {
		width: 30px;
	height: 30px;
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row-start: 15;
}
.rond4 {
		width: 30px;
	height: 30px;
	grid-column-start: 23;
	grid-column-end: span 24;
	grid-row-start: 16;
}
.rond5 {
		width: 30px;
	height: 30px;	grid-column-start: 3;
	grid-column-end: span 4;
	grid-row-start: 21;
}
.rond6 {
		width: 30px;
	height: 30px;
	grid-column-start: 17;
	grid-column-end: span 18;
	grid-row-start: 27;

}

.rond:hover > p {
	opacity:1;
}

.rond:hover {
	background-color: red;
}
